.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(auto, auto);
    background-color: white;
    border : 1px white solid;
    height: 200px;
    width: 400px;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
  }
  .avatar {
    grid-column: 1 ;
    grid-row: 1;
    background-color: black;
    border: white 1px solid;
    align-items: center;
    margin: auto;
    border-radius: 100%;
    height: 50px;
    width: 50px;
  }
  .nickname {
    grid-column: 2 / 6;
    grid-row: 1 ;
    background-color: transparent;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
  }
  .status {
    grid-column: 1 / 6;
    grid-row: 2 / 5;
    background-color: transparent;
    border: white 1px solid;
  }
  .textarea1{
      height: 100px;
      width: 350px;
      background-color: transparent;
      white-space: normal;
      word-wrap: break-word;
      border: white 1px solid;
  }
  .openclose {
    grid-column: 1;
    grid-row: 5;
    background-color: transparent;
  }
  .heart {
    grid-column: 3;
    grid-row: 5;
    background-color: transparent;
  }
  .comment {
    grid-column: 4;
    grid-row: 5;
    background-color: transparent;
  }




  .grid-containerresponse {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(auto, auto);
    background-color: white;
    border : 1px white solid;
    height: 150px;
    width: 400px;
  }
  .avatar_response {
    grid-column: 1 ;
    grid-row: 1;
    background-color: black;
    border: white 1px solid;
    align-items: center;
    margin: auto;
    border-radius: 100%;
    height: 35px;
    width: 35px;
  }
  .nickname_response {
    grid-column: 2 / 6;
    grid-row: 1 ;
    background-color: white;
    border: white 1px solid;
    align-items: center;
  }
  .nicknameresponse{
    border: white 1px solid;
    height: 45px;
    font-family: Arial;
    font-size: 25px;
    text-align: left;
    vertical-align:bottom;
  }
  .status_response {
    grid-column: 2 / 6;
    grid-row: 2 / 5;
    background-color: white;
    border: white 1px solid;
  }
  .textarea2{
    height: 60px;
    width: 300px;
    background-color: transparent;
}
  .post_response {
    grid-column: 4;
    grid-row: 5;
    background-color: white;
    border: white 1px solid;
  }
  button {
    background-color: Azure;
  }
