div{
    background-color: Azure;
    height: 1500px ;
    width: 500px;
    font-family: Arial;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    align-items: center top;
}

th{
    font-size: 50px;
    text-decoration: underline solid;
    text-align: center;
}

.twitt{
    display: flex;
	align-items: center;
	justify-content: center;
}

tr{
    margin-left: auto;
    margin-right: auto;
    border:solid 1px white;
}

body{
    background-size: auto;
    background-color:GhostWhite;
}

table{
    text-align: center;
}